/*  
Author: Tobias McMillan
File Name: styles.css
Date: 10/19/2025
*/

/* CSS Reset */
body, header, nav, ul, main, article, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body content */
body {
    padding-top: 40px;
}

div {
    max-width: 70%;
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
}

/* Style rule for images */
img {
    max-width: 80%;
    display: block;
}

.container {
    text-align: center;
}


/* Style rules for header content */
header {
    position: relative;
    text-align: center;
    font-size: 2.0em;
    color: #373684;
    padding: 12px;
}

header h1 {
    position: relative;
    font-size: 2.0em;
    padding: 5px;
    font-family: 'DM Serif Display', serif;
    top: 0;
}

/* Style rules for navigation area */
.navbar {
    background-color: #373684;
    text-align: center;
}

/* Navigation list */
.navbar-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navigation links */
.navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    background-color: #111111;
    opacity: 0.6;
    transition: 0.3s ease;
}


/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: Verdana, Arial, sans-serif;
}

.articleDiv {
    padding: 40px;
}

/* Style rules for the Favorite songs div element */
#Favorite\ Songs {
     display: none;
}

/* Style rules for table content */
table {
    margin: 0 auto;
    width: 100%;
    max-width: 853px;
    height: auto;
    max-height: 480px;
    border-collapse: collapse; /* optional: cleaner borders */
}

/* Highlight row on hover */
table tr:hover {
    background-color: #111111;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


td, th {
    align-content: center;
    vertical-align: middle;
    height: auto;
    width: auto;
    padding: 8px;
}

iframe {
    align-content: center;
    vertical-align: middle;
    height: auto;
    width: auto;
    padding: 8px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

main p {
    font-size: 1.25em;
}

.action {
    font-size: 1.25em;
    color: #373684;
    font-weight: bold;
}

/* Style rules for instrument content */
#piano, #violin #kindermusik {
    margin: 0 auto;
}

/* source: https://www.w3schools.com/howto/howto_css_hero_image.asp */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/piano (1).jpg");

    /* Set a specific height */
    max-height: 50%;
    max-width: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* source: https://www.w3schools.com/howto/howto_css_hero_image.asp */
/* Place text in the middle of the image */
.hero-text {
    top: 0;
    text-align: center;
    color: #373684;
    margin: 40px auto;
    position: relative;
}

#info {
    clear: left;
    background-color: #c0caf7;
    padding: 1% 2%;
    margin-left: 10%;
}

.round {
    border-radius: 8px;
}

/* Hide tab-desk class */
.tab-desk {
    display: none;
}

/* Style rules for contact content */
#contact {
    text-align: center;
}

.tel-link {
    background-color: #373684;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact .email-link {
    color: #4645a8;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 5px solid #373684;
    width: 95%;
    height: 50%;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color: #4645a8;
    text-decoration: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}
